#div {
	width: 240px;
	height: 319px;
}

#main {
	padding-top: 50px;
	width: 491px;
	margin: 0 auto;
}

#main #one {
	position: relative;
	float: left;
	width: 240px;
}

#main #two {
	font-family:"Microsoft YaHei","Arial","SimSun";
	background: url(../imgs/bgshou.png);
	font-family: "Times New Roman", Georgia, Serif;
	padding-left: 10px;
	position: relative;
	float: right;
	width: 240px;
	height: 319px;
	color: #5F5C5C;
}

#cleanfloat {
	height: 0;
	line-height: 0;
	font-size: 1px;
	clear: both;
	overflow: hidden;
	margin-top: -1px;
}